@font-face {
  font-family: Nirmala;
  font-display: swap;
  src: url(../fonts/nirmala-ui-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Nirmala;
  font-display: swap;
  src: url(../fonts/Nirmala.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Nirmala,sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nirmala,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 5.25rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  transition: all .4s linear;
  flex-shrink: 0;
  box-shadow: 4px 4px 20px 0 hsla(0,0%,100%,.4)
}
.button--fw {
  min-width: 100%
}
.button--s {
  max-width: 20.1875rem
}
.button--m {
  max-width: 28.9375rem
}
.button--border {
  border: 2px solid #fff
}
.button--border:hover {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 4px 4px 20px 0 hsla(0,0%,100%,.4)
}
.button--main {
  background: linear-gradient(103.39deg,#ffe53b -32.17%,#ff2525 114.07%)
}
.button--main:hover {
  box-shadow: 8px 8px 10px 0 rgba(0,0,0,.4) inset
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem hsla(0,0%,100%,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem hsla(0,0%,100%,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.hero__top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5
}
.hero__container {
  display: flex;
  justify-content: flex-end
}
.hero__section {
  overflow: hidden
}
.hero__section::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: -1
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2
}
.hero__bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.hero__img-wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  overflow: hidden
}
.hero__img-wrap picture {
  display: flex;
  height: 90%;
  align-items: flex-end
}
.hero__img {
  position: relative;
  display: block;
  bottom: 0;
  width: auto;
  max-width: 48vw;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom;
  height: 100%;
  bottom: -5%
}
.hero__music-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ec1119
}
.hero__music-btn::after {
  transition: all .3s ease;
  content: "";
  display: block;
  height: 0;
  width: 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  background: #fff
}
.hero__music-btn.stop::after {
  height: calc(100% + 12px)
}
.hero__ico {
  display: block
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 68.75rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 3.75rem 1rem
}
.hero__content--max {
  max-width: 81.875rem
}
.hero__content * {
  z-index: 10
}
.hero__pre-title {
  display: flex;
  padding: 1rem 1.875rem;
  line-height: 1;
  text-align: center;
  background: hsla(0,0%,100%,.2);
  border: 1px solid #fff;
  border-radius: 2.5rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px)
}
.hero__pre-title:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__title {
  background: linear-gradient(283.39deg,#ffe53b -32.17%,#ff2525 114.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px #fff;
  text-shadow: 0 4px 20px rgba(255,213,54,.5);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  text-align: center
}
.hero__subtitle {
  color: #fff2ce;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: .2em;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0,0,0,.25);
  text-transform: uppercase
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 5rem
}
.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center
}
.hero__slider {
  position: relative;
  width: 100%;
  max-width: 81.875rem;
  cursor: pointer
}
.hero__slider:not(:last-child) {
  margin-bottom: 3.625rem
}
.hero__slide {
  display: flex;
  justify-content: center
}
.hero__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  background: hsla(0,0%,100%,.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 2.625rem 4.5rem 2.5rem
}
.hero__card img {
  display: block;
  aspect-ratio: 321/374;
  border-radius: 1.25rem;
  height: 100%
}
.hero__card div {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase
}
.hero__text {
  line-height: 1.4;
  margin: 0 auto;
  text-align: center
}
.hero__text:not(:last-child) {
  margin-bottom: 7.5rem
}
.swiper-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  border-radius: 50%;
  background: linear-gradient(103.39deg,#ffe53b -32.17%,#ff2525 114.07%);
  transition: all .5s ease
}
.swiper-button:hover {
  box-shadow: -4px 4px 8px 0 rgba(0,0,0,.25) inset,4px -4px 8px 0 rgba(0,0,0,.25) inset
}
.swiper-button:disabled {
  opacity: 0
}
.swiper-button-prev {
  left: 0
}
.swiper-button-next {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
.swiper__ico-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5.75rem;
  height: 1.5rem;
  -webkit-transform: translate(-4px,-50%);
  transform: translate(-4px,-50%)
}
.swiper__ico-arrow--mob {
  display: none
}
.mf-cursor:before {
  -webkit-transform: scale(.4);
  transform: scale(.4);
  opacity: .6
}
.mf-cursor.-opacity:before {
  opacity: .3
}
.mf-cursor.-see::before {
  content: "Choose her";
  border-radius: 50%;
  display: flex;
  justify-content: center;
  -webkit-transform: scale(1.6)!important;
  transform: scale(1.6)!important;
  z-index: 2;
  align-items: center;
  background: #fff;
  opacity: .95;
  -webkit-filter: drop-shadow(0 .48vw 1.19vw rgba(0, 0, 0, .25));
  filter: drop-shadow(0 .48vw 1.19vw rgba(0, 0, 0, .25));
  font-size: 10px;
  line-height: 12px;
  margin: auto;
  color: #1c1a19;
  text-align: center
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.999375em) {
  .hero__top {
    padding-top: 3rem
  }
  .hero__container {
    margin: 0 4.625rem
  }
  .hero__music-btn {
    width: 3.25rem;
    height: 3.25rem
  }
  .hero__ico {
    width: 1.75rem;
    height: 1.5rem
  }
}
@media (min-width:56.25em)and (min-height:800.1px) {
  .hero__img-wrap {
    max-height: 90vh;
    padding-left: 4.375rem;
    padding-right: 1.375rem
  }
}
@media (min-width:57.5em)and (max-height:800px) {
  .hero__img-wrap {
    max-height: 80vh;
    padding-left: 1.375rem;
    padding-right: 1.375rem
  }
}
@media (max-height:800px)and (min-width:61.99875em) {
  .hero__slider:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (min-width:61.99875em) {
  .hero__text {
    max-width: 40vw
  }
}
@media (min-width:87.5em) {
  .hero__actions {
    gap: 3.125rem
  }
}
@media (max-height:400px)and (min-width:600px) {
  .button {
    height: 2.5rem;
    font-size: 1.5rem
  }
  .hero__top {
    padding-top: 1.25rem
  }
  .hero__container {
    margin: 0 1.875rem
  }
  .hero__pre-title {
    font-size: 20px!important
  }
  .hero__title--main {
    font-size: 40px!important
  }
  .hero__title--64 {
    font-size: 30px!important;
    margin-bottom: 20px!important
  }
  .hero__subtitle:not(:last-child) {
    margin-bottom: 20px
  }
  .hero__slider:not(:last-child) {
    margin-bottom: 20px!important
  }
  .hero__card {
    flex-direction: row;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
  .hero__card img {
    max-height: 120px
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2.5rem
  }
}
@media (min-height:1000px)and (min-width:700px) {
  .hero__content {
    padding-top: 6.25rem;
    justify-content: flex-start
  }
}
@media (min-width:75em) {
  .hero__subtitle {
    font-size: 1.75rem
  }
}
@media (min-width:100em) {
  .hero__pre-title {
    font-size: 2.25rem
  }
  .hero__title--main {
    font-size: 5.25rem
  }
  .hero__title--main:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .hero__title--64 {
    font-size: 4rem
  }
  .hero__title--64:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .hero__title--120 {
    font-size: 7.5rem
  }
  .hero__title--120:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .hero__text {
    font-size: 2.625rem
  }
  .swiper-button {
    width: 5.5rem
  }
  .swiper-button {
    height: 5.5rem
  }
}
@media (max-width:1400px)and (max-height:600px) {
  .hero__content {
    padding: 1.875rem 1rem
  }
}
@media (max-width:1300px) {
  .hero__title--64 {
    max-width: 80%;
    margin: 0 auto
  }
}
@media (max-width:920px) {
  .hero__img-wrap {
    max-height: 80vh;
    padding-left: 1.375rem
  }
}
@media (max-width:600px) {
  .hero__pre-title {
    padding: .375rem .625rem;
    max-width: 16.125rem;
    line-height: 1.2
  }
  .hero__pre-title:not(:last-child) {
    margin-bottom: .625rem
  }
}
@media (max-width:540px) {
  .hero__actions {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: auto
  }
  .hero__actions .button {
    max-width: 100%
  }
}
@media (max-width:420px)and (min-height:801px) {
  .hero__content {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem
  }
}
@media (max-width:380px) {
  .hero__card img {
    max-height: 12.5rem
  }
}
@media (max-width:360px)and (max-height:800px) {
  .hero__content {
    padding-top: 1.25rem;
    padding-bottom: 1.875rem
  }
}
@media (max-width:20em) {
  .swiper-button {
    width: 2.875rem
  }
  .swiper-button {
    height: 2.875rem
  }
}
@media (max-width:61.99875em) {
  .hero__title--64 {
    max-width: 90%;
    margin: 0 auto
  }
  .hero__text {
    max-width: 80vw
  }
}
@media (max-width:47.99875em) {
  .button {
    height: 3.5rem;
    font-size: 1.5rem
  }
  .hero__top {
    padding-top: 1.25rem
  }
  .hero__container {
    margin: 0 .75rem
  }
  .hero__img-wrap {
    max-height: 66vh;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center
  }
  .hero__img-wrap--last {
    max-height: 80vh
  }
  .hero__music-btn {
    width: 1.875rem;
    height: 1.875rem
  }
  .hero__ico {
    width: 1.125rem;
    height: 1.125rem
  }
  .hero__subtitle:not(:last-child) {
    margin-bottom: auto
  }
  .hero__slider:not(:last-child) {
    margin-top: auto;
    margin-bottom: auto
  }
  .hero__card {
    padding: 1.375rem 1.75rem 1.5rem
  }
  .hero__card img {
    max-width: 60vw;
    width: 100%;
    max-height: auto
  }
  .hero__text:not(:last-child) {
    margin-bottom: auto
  }
  .swiper-button svg:first-child {
    display: none
  }
  .swiper__ico-arrow--mob {
    display: block;
    width: 2.125rem;
    -webkit-transform: translate(-8px,-50%);
    transform: translate(-8px,-50%)
  }
  .button--s.button--main.hero__next {
    margin-top: 10px
  }
  .mf-cursor {
    display: none
  }
}
@media (max-width:31.25em) {
  .hero__actions {
    gap: .625rem
  }
}
@media (max-width:29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .hero__img-wrap picture {
    width: 100%;
    justify-content: center
  }
  .hero__img--1 {
    display: none
  }
  .hero__img--2 {
    max-width: 100%
  }
}
@media (max-width:22.5em) {
  .hero__pre-title {
    font-size: 1rem
  }
  .hero__title--main {
    font-size: 1.5rem
  }
  .hero__title--main:not(:last-child) {
    margin-bottom: .625rem
  }
  .hero__title--64 {
    font-size: 1.5rem
  }
  .hero__title--64:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__title--120 {
    font-size: 3rem
  }
  .hero__title--120:not(:last-child) {
    margin-bottom: .625rem
  }
  .hero__subtitle {
    font-size: .75rem
  }
  .hero__text {
    font-size: 1.125rem
  }
}
@media (max-width:0em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (max-width:61.99875em)and (min-width:47.99875em) {
  .button--s {
    max-width: 40vw
  }
}
@media (min-width:1000px)and (max-width:1400px) {
  .hero__content {
    max-width: 80vw
  }
}
@media (min-width:22.5em)and (max-width:100em) {
  @supports (font-size:clamp(1rem ,0.6370967742rem + 1.6129032258vw ,2.25rem)) {
    .hero__pre-title {
      font-size: clamp(1rem ,.6370967742rem + 1.6129032258vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6370967742rem + 1.6129032258vw ,2.25rem)) {
    .hero__pre-title {
      font-size: calc(1rem + 1.25*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.4112903226rem + 4.8387096774vw ,5.25rem)) {
    .hero__title--main {
      font-size: clamp(1.5rem ,.4112903226rem + 4.8387096774vw ,5.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.4112903226rem + 4.8387096774vw ,5.25rem)) {
    .hero__title--main {
      font-size: calc(1.5rem + 3.75*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.0806451613rem + 2.4193548387vw ,2.5rem)) {
    .hero__title--main:not(:last-child) {
      margin-bottom: clamp(.625rem ,.0806451613rem + 2.4193548387vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.0806451613rem + 2.4193548387vw ,2.5rem)) {
    .hero__title--main:not(:last-child) {
      margin-bottom: calc(.625rem + 1.875*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.7741935484rem + 3.2258064516vw ,4rem)) {
    .hero__title--64 {
      font-size: clamp(1.5rem ,.7741935484rem + 3.2258064516vw ,4rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.7741935484rem + 3.2258064516vw ,4rem)) {
    .hero__title--64 {
      font-size: calc(1.5rem + 2.5*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.7963709677rem + 2.0161290323vw ,2.8125rem)) {
    .hero__title--64:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.7963709677rem + 2.0161290323vw ,2.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.7963709677rem + 2.0161290323vw ,2.8125rem)) {
    .hero__title--64:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (font-size:clamp(3rem ,1.6935483871rem + 5.8064516129vw ,7.5rem)) {
    .hero__title--120 {
      font-size: clamp(3rem ,1.6935483871rem + 5.8064516129vw ,7.5rem)
    }
  }
  @supports not (font-size:clamp(3rem ,1.6935483871rem + 5.8064516129vw ,7.5rem)) {
    .hero__title--120 {
      font-size: calc(3rem + 4.5*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.0806451613rem + 2.4193548387vw ,2.5rem)) {
    .hero__title--120:not(:last-child) {
      margin-bottom: clamp(.625rem ,.0806451613rem + 2.4193548387vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.0806451613rem + 2.4193548387vw ,2.5rem)) {
    .hero__title--120:not(:last-child) {
      margin-bottom: calc(.625rem + 1.875*(100vw - 22.5rem)/ 77.5)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.689516129rem + 1.935483871vw ,2.625rem)) {
    .hero__text {
      font-size: clamp(1.125rem ,.689516129rem + 1.935483871vw ,2.625rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.689516129rem + 1.935483871vw ,2.625rem)) {
    .hero__text {
      font-size: calc(1.125rem + 1.5*(100vw - 22.5rem)/ 77.5)
    }
  }
}
@media (min-width:22.5em)and (max-width:75em) {
  @supports (font-size:clamp(0.75rem ,0.3214285714rem + 1.9047619048vw ,1.75rem)) {
    .hero__subtitle {
      font-size: clamp(.75rem ,.3214285714rem + 1.9047619048vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.3214285714rem + 1.9047619048vw ,1.75rem)) {
    .hero__subtitle {
      font-size: calc(.75rem + 1*(100vw - 22.5rem)/ 52.5)
    }
  }
}
@media (min-width:31.25em)and (max-width:87.5em) {
  @supports (gap:clamp(0.625rem ,-0.7638888889rem + 4.4444444444vw ,3.125rem)) {
    .hero__actions {
      gap: clamp(.625rem ,-.7638888889rem + 4.4444444444vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,-0.7638888889rem + 4.4444444444vw ,3.125rem)) {
    .hero__actions {
      gap: calc(.625rem + 2.5*(100vw - 31.25rem)/ 56.25)
    }
  }
}
@media (min-width:20em)and (max-width:100em) {
  @supports (width:clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)) {
    .swiper-button {
      width: clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)
    }
  }
  @supports not (width:clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)) {
    .swiper-button {
      width: calc(2.875rem + 2.625*(100vw - 20rem)/ 80)
    }
  }
  @supports (height:clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)) {
    .swiper-button {
      height: clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)
    }
  }
  @supports not (height:clamp(2.875rem ,2.21875rem + 3.28125vw ,5.5rem)) {
    .swiper-button {
      height: calc(2.875rem + 2.625*(100vw - 20rem)/ 80)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    font-size: 1.5rem
  }
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
}
@media (max-height:800px) {
  .button {
    height: 3.75rem
  }
  .hero__card {
    gap: 10px
  }
  .hero__card img {
    max-height: 15rem
  }
}
@media (min-height:800px) {
  .hero__card {
    gap: 20px
  }
  .hero__card img {
    max-height: 23.375rem
  }
}